{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread":true,
            "impliedStrict":true
        }
    },
    "rules": {
        "jsx-boolean-value":"always",
        "semi": [2,"never"]
    }
}
