
.cover {
	composes: flex-column flex-scale from 'styles/flex.css';
	composes: fill-height fill-width from 'styles/basics.css';
	align-items: stretch;
	max-width: 100%;
	min-width: 100%;
	overflow: visible;
}

.panel {
	composes: flex-column flex-scale from 'styles/flex.css';
	composes: fill-height fill-width from 'styles/basics.css';
	composes: cover;
}

.drawerWrapper {
	composes: cover;
	min-width: 200px;
	padding-right: 5px;
	/*padding-right: 10px;*/
	position:relative;
	overflow: hidden;
}

.drawer {
	composes: flex-column flex-scale from 'styles/flex.css';
	align-items: stretch;
	max-width: 100%;
	width: 100%;
	min-width: 100%;
}

.header {
	composes: flex-row from 'styles/flex.css';
	align-items: flex-end;
	justify-content: flex-end;
	flex: 0 0 auto;

}

.headerButton {

}

.list, .list-container {
	composes: flex-column flex-scale from 'styles/flex.css';
}
