doctype html
html
	head
		script.
			require('babel-polyfill')
			var electron = require('electron')
			var remote = electron.remote
			var log = remote.getGlobal('getLogger')('DatabaseServer')
			var baseDir = "."
			var loaded = false
			var isDev = remote.getGlobal('Env').isDev

			// Add a script tag to load content
			function addScript(scriptPath, asyncLoad, callback) {
				const script = document.createElement('script');
				const basePath = (isDev) ? 'http://localhost:4445/dist' : baseDir + '/dist';

				script.type = 'text/javascript'
				if (asyncLoad) {
					//logger.debug('Loading script async', scriptPath)
					script.async = true

				}

				if (callback)
					script.onload = callback

				script.src = basePath + scriptPath

				document.body.appendChild(script)
			}

			window.onload = function() {
				// Load the entry script
				//addScript('/MaterialUIEntry.js')
				addScript('/DatabaseServerEntry.js', false, function () {
					console.log('Database server is laoded')
				})

			}
	body
