.app {
	composes: flex-column flex-scale from 'styles/flex.css';



}

.header, .content {
	transition: all 0.25s ease-out;
	transition-property: flex-basis, flex-shrink, flex-grow, height, width;
}

.header {
	composes: flex-row-center from 'epictask/assets/styles/flex.css';
	justify-content: flex-end;
	position: relative;
	padding: 1rem 1rem;

	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;

	&.expanded {
		height: 100%
		flex-basis: 100%;
		flex-grow: 1;
		flex-shrink: 1;
	}
}


.content {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;

	&.collapsed {
		flex-grow: 0;
		flex-shrink: 0;
	}
}