
.title {
	align-self: flex-end;
	margin-right: 1rem;
	max-height: 100%;

}

.logo {
	composes: flex-column-center from 'styles/flex.css';
	flex: 0 1 auto;
	height: 100%;
}


.logo > img {
	height: 100%;
	width: auto;
	flex: 1 1 0;
}
