@import "styles/mixins.global.scss";

//Global Container in normal mode
.searchPanel {
	@include make-default-transition();
	composes: flex-column-center flex-scale from 'styles/flex.css';
	position: relative;
	background-color: transparent !important;
}


// Expanded mode
.searchPanelExpanded {
	composes: searchPanel;
	position: absolute;
	left: 0;
	top: 50%;
	height: 50%;
	width: 100%;

}


.searchWrapper {

	padding: 0rem 1rem;
	position: relative;

	//composes: flex-column-center flex-scale from 'styles/flex.css';

	div {
		//overflow:hidden;
		width: 100% !important;

	}

	input {
		background-color: transparent;
		width: 100% !important;
	}

	hr {
		opacity: 0;
	}

	&,* {
		@include make-default-transition();
	}

}

.focused {
	background-color: #{map-get($dark,'alternateBgColor')} !important;

	hr {
		opacity: 1;
	}

	input {
		color: #{map-get($dark,'alternateTextColor')} !important;
	}
}

.searchWrapperExpanded {
	composes: searchWrapper;
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	max-height: 100%;
	max-width: 70%;
	width: 70%;
	transform: translate(-50%,0);
	//composes: flex-row-center from 'styles/flex.css';
	//flex: 0 0 auto;
}

.results {

}

.result {
	color: #{map-get($dark,'alternateTextColor')} !important;
}
