@import "../../../assets/styles/mixins.global";

.header {
	justify-content: flex-end;
	position: relative;

	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;

	padding: 0.3rem 12vw;
}


.header-expanded {
	composes: header;
	height: 100%;
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
}

.window-controls {
	position:absolute;
	display: block;
	top: 0;
	left: 0;

	button {
		@include make-default-transition();
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		//display: inline-block;
		-webkit-app-region: no-drag;
		background-color: white;
		outline: none;
		opacity: 1;
		border: 0.2rem solid transparent;
		padding: 0;

		&:before {
			@include make-default-transition();
			opacity: 0;
		}

		&,&:before,* {
			cursor: pointer !important;
		}

		&:hover {
			cursor: pointer;
			background-color: transparent;

			&:before {
				opacity: 1;
			}
		}
	}
}


/**
	Logo in regular mode, top right corner
**/
.logo {
	@include make-default-transition();
	position: absolute;

	padding: 1rem 1rem;

	align-items: center;
	justify-content: center;

	top: 0;
	right: 0;
	width: 10vw;
	height: 100%;

	background-image: url('assets/images/epictask-logo.png');
	background-size: contain;
	background-repeat: no-repeat;

	background-origin: content-box;
}

/**
	Logo in full expanded mode
**/
.logo-expanded {
	composes: logo;

	padding: 10rem 10rem 4rem 10rem;
	height: 50% !important;
	width: auto;
	top: 0;
	left: 0;
	background-size: 40%;
	background-position: bottom center;

}
