-
	var path = require('path')
doctype html
html
	head
		meta(charset='utf-8')
		title GitOp
		link(rel='stylesheet', href=path.resolve('.','node_modules/font-awesome/css/font-awesome.min.css'))
		script.
			(function () {
				if (!process.env.HOT) {
					const link = document.createElement('link');
					link.rel = 'stylesheet';
					link.href = '../../dist/style.css';
					document.write(link.outerHTML);
				}
			}());
	body
		#app
		script.
			(function () {

				const script = document.createElement('script');
				script.src = (process.env.HOT) ? 'http://localhost:4444/AppEntry.js' : '../dist/AppEntry.js';
				document.write(script.outerHTML);
			}());
