doctype html
html.fill-width.fill-height(lang="en")

	head
		meta(charset='utf-8')

		// Splash screen load
		link(rel="stylesheet",type="text/css",href="../node_modules/splash-screen/dist/splash.min.css")
		script(src="../node_modules/splash-screen/dist/splash.min.js")

		link(rel="stylesheet",href="../node_modules/animate.css/animate.css")
		link(rel="stylesheet",href="../node_modules/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet",href="../node_modules/highlight.js/styles/dark.css")
		link(rel="stylesheet",href="../node_modules/simplemde/dist/simplemde.min.css")
		//link(rel="stylesheet",href="../node_modules/highlight.js/styles/default.css")
		meta(name="viewport",content="width=device-width, initial-scale=1")

		title epictask
		style=require('!!raw!sass!styles/MainEntry.global.scss')


		script(id='et-loader').
			require('babel-polyfill')
			var electron = require('electron'),
					remote = electron.remote,
					ipc = electron.ipcRenderer,
					Events = remote.getGlobal('Constants').Events



			function checkBooted() {
				window.booted = remote.getGlobal("MainBooted")
				return window.booted
			}

			console.log('Main has booted = ',checkBooted())

			var Splash = window.Splash

			// Load jQuery to help with debugging more than anything else
			if (!window.$)
				window.$ = require('jquery')

			// Make sure we have a global log function
			//if (!window.log)
			//	window.log =
			//var logger = remote.getGlobal('getLogger')('MainEntry.jade')


			// Add getStyles - short for getComputedStyle
			if (!$.fn.getStyles) {
				$.fn.getStyles = function () {
					var styles = window.getComputedStyle(this[0])
					var styleObj = {}
					for (var i = 0; i < styles.length;i++) {
						var prop = styles[i]
						var val = styles[prop]
						if (val)
							styleObj[prop] = val
					}
					console.log(styleObj)
					//log.info('styles',styleObj)
					return styleObj
				}
			}
			var baseDir = "."
			var loaded = false
			var isDev = remote.getGlobal('Env').isDev

			if (isDev)
				require('debug-menu').install()
			/*
			*	Add a script tag to load content
			*/
			function addScript(scriptPath,asyncLoad,callback) {
				const script = document.createElement('script');
				const basePath = (isDev) ? 'http://localhost:4444/dist' : baseDir + '/dist';

				script.type = 'text/javascript'
				if (asyncLoad) {
					//logger.debug('Loading script async', scriptPath)
					script.async = true

				}

				if (callback)
					script.onload = callback

				script.src = basePath + scriptPath

				document.body.appendChild(script)
			}


			/*
			*	Load the UI
			*/
			window.loadEpicTask = function() {

				//logger.info('Loading UI')

				if (loaded) {
					if (!isDev) {
						console.warn('loadEpicTask is disabled in non dev mode')
						return
					}

					var nextElem = document.getElementById('et-loader')
					while (nextElem = nextElem.nextSibling) {
						nextElem.parentNode.removeChild(nextElem)
					}
				}

				loaded = true
				document.body.innerHTML = "<div id='root' class='fill-width fill-height'></div>"

				if (!isDev) {
					const link = document.createElement('link');
					link.rel = 'stylesheet';
					link.href = baseDir + '/dist/style.css';
					document.write(link.outerHTML);
				}

				// SCRIPTS
				addScript('/UIEntry.js', false, function () {
					if (checkBooted())
						onUIReady(null, true)
				})
				/*
				var materialLoaded = false, libsLoaded = true

				function loadEntry() {
					if (!materialLoaded || !libsLoaded) return


				}

				addScript('/UIMaterialEntry.js',false,function() {
					materialLoaded = true
					loadEntry()
				})
				*/
				//addScript('/UILibsEntry.js', false, function () {
				//	libsLoaded = true
				//	loadEntry()
				//})




			}

			function onUIReady(event,force) {


				if (force || (event && event.data && event.data.type === Events.UIReady)) {
					console.log('UI Ready Called, force=', force,
							'event type =', (event && event.data) && event.data.type)
					Splash.destroy()
				}
			}

			function onBodyLoad() {
				console.log('on load event')
				if (checkBooted()) {
					console.log('window already booted, loading immediately')
					loadEpicTask()
				} else {
					console.log('waiting for main ready event now')
					ipc.on(Events.MainReady, function () {
						console.log('IPC Received load request')
						loadEpicTask()
					})
				}

				window.addEventListener('message', onUIReady)
			}


	body.fill-width.fill-height(onload="onBodyLoad()")
		script.
			Splash.enable('windcatcher')


