/*
	Styling for markdown editors

	comment/issue dialogs
*/


.epic-markdown-editor {
	
	> div {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
	}
	
	.editor-toolbar {
		background-color: white;
		opacity: 1;
		border-radius: 0 !important;
	}
	
	.CodeMirror {
		flex: 1 1 0;
	}
	
	.editor-preview-side {
		
		&.editor-preview-active-side {
			color: black;
		}
	}

}

