doctype html
html.fill-width.fill-height(lang="en")

	head
		meta(charset='utf-8')
		link(rel="stylesheet",href=baseDir + "/node_modules/font-awesome/css/font-awesome.min.css")
		meta(name="viewport",content="width=device-width, initial-scale=1")

		title epic.ly
		//if process.env.HOT
		//	base(href="http://localhost:4444")
		script.

			(function () {
				if (!process.env.HOT) {
					const link = document.createElement('link');
					link.rel = 'stylesheet';
					link.href = baseDir + '/dist/style.css';
					document.write(link.outerHTML);
				}
			}());
		style=cssGlobal
	body.fill-width.fill-height(style="-webkit-app-region: drag")
		#root.fill-width.fill-height
		script.
			(function () {
				function addScript(scriptPath) {
					const script = document.createElement('script');
					const basePath = (process.env.HOT) ? 'http://localhost:4444/dist' : baseDir + '/dist';
					script.src = basePath + scriptPath
					document.write(script.outerHTML);
				}
				addScript('/AppEntry.js')
			}());
