doctype html
html.fill-width.fill-height
	head
		meta(charset='utf-8')
		link(rel="stylesheet",href="../node_modules/font-awesome/css/font-awesome.min.css")
		title epic.ly
		//if process.env.HOT
		//	base(href="http://localhost:4444")
		script.
			(function () {
				if (!process.env.HOT) {
					const link = document.createElement('link');
					link.rel = 'stylesheet';
					link.href = '../../dist/style.css';
					document.write(link.outerHTML);
				}
			}());



		style.
			* {
				box-sizing: border-box !important;
			}

			.fill-height {
				height: 100vh;
				min-height: 100vh;
				max-height: 100vh;
			}

			.fill-width {
				width: 100vw;
				min-width: 100vw;
				max-width: 100vw;
			}

			html, body {
				margin: 0;
				padding: 0;
				border: 0;
			}


	body.fill-width.fill-height()
		#root.fill-width.fill-height
		script.
			(function () {
				function addScript(scriptPath) {
					const script = document.createElement('script');
					const basePath = (process.env.HOT) ? 'http://localhost:4444/dist' : '../../dist';
					script.src = basePath + scriptPath
					document.write(script.outerHTML);
				}

				addScript('/AppEntry.js')
			}());
